/* Theme */

main {
  background: #dd4515;
  color: #fafafa;
}

.icons-social a {
  color: #fafafa;
}

.icons-social a svg path {
  fill: #fafafa;
}

/* Typography */

html {
  font-size: 3.25vw;
}

@media screen and (min-width: 425px) {
  html {
    font-size: 2.75vw;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.75vw;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.3vw;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 1vw;
  }
}

/* Custom Styles */

* {
  /* see https://stackoverflow.com/a/29961714 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a {
  /* see https://stackoverflow.com/questions/9003969 */
  text-decoration: none;
  /* see https://stackoverflow.com/a/11237968 */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:active,
a:focus {
  -moz-outline-style: none;
  outline-style: none;
  outline: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 0 3rem;
}

main .intro * {
  font-family: "Reem Kufi", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  white-space: nowrap;
}

main .tagline {
  padding: 1.5rem 0;
}

main .tagline * {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}

main .tagline .skills {
  font-family: "Reem Kufi", sans-serif;
  font-weight: normal;
}

.icons-social i {
  font-size: 3.5rem;
  padding: 0.75rem;
}
