/* Theme */

* {
  --color: #fafafa;
  --background-start: #ff5722;
  --background-end: #d32f2f;
}

/* Media Queries */

html {
  font-size: 3.25vw;
}

.stats-github {
  flex-direction: column;
}

.stats-github img {
  width: 100vw;
}

@media screen and (min-width: 425px) {
  html {
    font-size: 2.75vw;
  }

  .stats-github {
    flex-direction: column;
  }

  .stats-github img {
    width: 75vw;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.75vw;
  }

  .stats-github {
    flex-direction: row;
  }

  .stats-github img {
    width: 37vw;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.3vw;
  }

  .stats-github {
    flex-direction: row;
  }

  .stats-github img {
    width: 28vw;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 1vw;
  }

  .stats-github {
    flex-direction: row;
  }

  .stats-github img {
    width: 20vw;
  }
}

/* Custom Styles */

* {
  /* see https://stackoverflow.com/a/29961714 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  animation: gradient-animation 5s ease-in-out infinite;
  background: linear-gradient(
    to left top,
    var(--background-start),
    var(--background-end)
  );
  background-size: 500% 500%;
  color: var(--color);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

a {
  /* see https://stackoverflow.com/questions/9003969 */
  text-decoration: none;
  /* see https://stackoverflow.com/a/11237968 */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--color);
}

a:active,
a:focus {
  -moz-outline-style: none;
  outline-style: none;
  outline: 0;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Reem Kufi", sans-serif;
  font-weight: normal;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem;
  text-align: center;
}

.content .intro * {
  font-size: 4rem;
  font-weight: bold;
  line-height: 130%;
  white-space: nowrap;
}

.content .tagline {
  padding: 2rem 0 1.5rem 0;
}

.content .tagline * {
  white-space: nowrap;
}

.content .tagline .designation {
  font-family: "Roboto Mono", monospace;
  font-size: 1.8rem;
  font-weight: bold;
}

.icons-social {
  display: flex;
  justify-content: space-between;
  width: 22rem;
}

.icons-social i {
  font-size: 4rem;
}

.stats-github {
  display: flex;
  padding: 2rem 0 0 0;
}
