/* Theme */

main {
  background: #dd4515;
  color: #fafafa;
}

.icons-social a {
  color: #fafafa;
}

.icons-social a svg path {
  fill: #fafafa;
}

/* Typography */

@media screen and (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 22px;
  }
}

/* Custom Styles */

* {
  /* see https://stackoverflow.com/a/29961714 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a {
  /* see https://stackoverflow.com/questions/9003969 */
  text-decoration: none;
  /* see https://stackoverflow.com/a/11237968 */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:active,
a:focus {
  -moz-outline-style: none;
  outline-style: none;
  outline: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
}

main .intro * {
  font-family: "Reem Kufi", sans-serif;
  font-size: 3.75em;
  font-weight: bold;
  white-space: nowrap;
}

main .tagline {
  margin: 1.5rem 0;
}

main .tagline * {
  font-family: "Roboto Mono", monospace;
  font-size: 1.25rem;
  font-weight: bold;
  white-space: nowrap;
}

main .tagline .skills {
  font-family: "Reem Kufi", sans-serif;
  font-weight: normal;
}

.icons-social i {
  font-size: 3em;
  padding: 15px;
}
